RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^bet/list/$ index.php?search=all [QSA,L]
RewriteRule ^bet/list/([0-9]+)/$ index.php?search=single&id=$1 [nc,qsa]